*{
    margin: 0;
    padding: 0;
    font-family: 'Edu NSW ACT Foundation', cursive;

}
#banner {
    background-image: linear-gradient(rgba(0,0,0.2,0.1),#183533) , url(../images1/banner.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;  
    
}
#logo{
    width: 50px;
    position: absolute;
    border-radius: 50%;
    margin-left: 10px;
    left: 5px;
    top: 9px;
}
.title{
    text-align: center;
    padding-top: 250px;
    color: aliceblue;
}
.title h1{
    font-size: 90px;
    font-family: 'Kaushan Script', cursive;
}
.title p{
    font-size: 20px;
    font-style: italic;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.button{
    margin: 40px auto;
}
.button a{
 text-decoration:none ;
 border: 1px solid aliceblue;
 padding: 6px 7px;
 margin: 12px;
 color: aliceblue;
 border-radius: 3px;
 position: relative;
 z-index: 1;
 transition: 0.7s;

}

.button a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    z-index: -1;
    transition: 0.7s;
}
.button a:hover span{
 width: 100%;
}
.button a:hover{
    color: #183533;
}

.navBar{
    background-color: #183533;
    width: 1350px;
    margin: auto;
    height: 70px;
    text-align: right;
    position:fixed;
    z-index:2;
    top: 0;
    right: 0;
    border: 2px solid aliceblue;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.navBar a{
    text-decoration: none;
    color: aliceblue;
    margin: 15px;
    top: 10px;
}
.navBar a:hover{
 font-weight:bolder;  
 font-size: larger;

}
.navBar ul li{
    text-align: right;
    list-style: none;
    padding: 5px;
    margin: 10px ; 
}


#section2 {
    background-image: linear-gradient(rgba(0,0,0.2,0.1),#1e232b) , url(../images1/banner1.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;  
    margin-top: 2px;
    
}
.title2{
    text-align:left;
    padding-top: 200px;
    padding-left: 100px;
    
}
.title2 h1{

    font-family: 'Kaushan Script', cursive;
    color: aliceblue;
    font-size: 50px;
}

.title2 p{
    color: aliceblue;
    font-style: italic;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;
}





.section3{
    background-image: linear-gradient(rgba(0,0,0.2,0.1),#1e232b) , url(../images1/banner2.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;  
    margin-top: 2px;
    
}
.title3{
    text-align:left;
    padding-top: 400px;
    padding-left: 200px;
    
}
.title3 h1{

    font-family: 'Kaushan Script', cursive;
    color: aliceblue;
    font-size: 50px;
}

.title3 p{
    color: aliceblue;
    font-style: italic;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;
    margin-bottom: 40px;
}
.title3 a{
    text-decoration: none;
    color: aliceblue;
    border:1px solid aliceblue;
    padding: 6px 7px;
    margin-top: 12px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    transition: 0.7s;
    left: 100px;
    font-size: 23px;
    

}
.title3 a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    z-index: -1;
    transition: 0.7s;
}
.title3 a:hover span{
 width: 100%;
}
.title3 a:hover{
    color: #183533;
}

.section3{
    background-color:#788887 ;
    background-image: linear-gradient(rgba(0,0,0.2,0.1),#1e232b),url(../images1/banner2.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;  
    margin-top: 2px;
    
}


.section4{
    background-color:#788887 ;
    background-image: linear-gradient(rgba(0,0,0.2,0.1),#1e232b);
    height: 100vh;  
    margin-top: 2px;
    box-sizing: border-box;
    
}
.section4 h1{
    font-family: 'Kaushan Script', cursive;
    color: aliceblue;
    text-align: center;
    padding-top: 90px;
    font-size: 50px;
}
.photo img{
    width: 300px;
    height: 350px;
    margin-top: 70px ;
    margin-bottom: 20px;
     margin-left: 90px;
     margin-right: 20px;
     border: 2px  solid #1e232b;
     border-radius: 7px;
}



.footer{
    background-color:rgb(149, 152, 155) ;
    height: 7vh;  
    margin-top: 2px;
    text-align: center;
}
.footer #img1{
    width: 30px;
    border-radius: 8px;
    margin: 7px ;
    
}
.footer #img2{
    width: 40px;
    border-radius: 15px;
    
}
.footer #img3{
    width: 40px;
    border-radius: 20px;

}
